<!--Employee::Homes#index-->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="text-center card-title">職員用</h1>
          <div class="list-group">
            <%= link_to '職員マイページ', employee_mypage_path, class: 'list-group-item list-group-item-action' %>
            <%= link_to '保護者一覧', employee_parents_path, class: 'list-group-item list-group-item-action' %>
            <%= link_to '新規連絡帳作成', new_employee_note_path, class: 'list-group-item list-group-item-action' %>
            <%= link_to '連絡帳一覧を見る', employee_notes_path, class: 'list-group-item list-group-item-action' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
