<!--<h1>Parent::Notes#new</h1>-->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header">
          <h1 class="text-center">新しい連絡帳を作成</h1>
        </div>
        <div class="card-body">
          <%= render 'form', note: @note %>
        </div>
        <div class="card-footer text-center">
          <%= link_to 'キャンセル', notes_path, class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>